<div class="container">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/newproducts1.jpg" alt="">
          <h5 class="card-title">You will share this burger with a friend</h5>
          <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <img src="../../assets/newproducts2.jpg" alt="">
          <h5 class="card-title">chicken nuggets burger with cheese sauce </h5>
          <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <img src="../../assets/newproducts3.jpg" alt="">
          <h5 class="card-title">chicken nuggets with fresh taste</h5>
          <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
        </div>
      </div>
    </div>