<div class="container">
  <div class="card">
    <div class="card-body">
      <img src="../../assets/nugets.png" alt="">
      <h5 class="card-title">chicken nuggets</h5>
      <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="../../assets/nugets2.jpg" alt="">
      <h5 class="card-title">chicken  wings </h5>
      <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="../../assets/nugets3.jpg" alt="">
      <h5 class="card-title"> chicken drumsticks</h5>
      <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
    </div>
  </div>