<p>familybox works!</p>
<div class="container">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/familybox1.jpg" alt="">
        <h5 class="card-title">You will share this box to  your  friends, fresh salad and garnish</h5>
        <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <img src="../../assets/familybox2.jpg" alt="">
        <h5 class="card-title"> This box is enough for everyone.</h5>
        <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <img src="../../assets/familybox3.jpg" alt="">
        <h5 class="card-title">chicken nuggets and garnishes</h5>
        <span href="#" class="btn btn-primary" (click)="addProductToCart()">buy</span> 
      </div>
    </div>