<div class="first-ornament"> 
  <img src="../../assets/ornamentpng.png" alt="">
</div>

<div class="wrapper">
  <img class="aboutus-img"
    src="https://images.unsplash.com/photo-1562967916-eb82221dfb92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80"
    alt="">
  <div class="text">
    Chic-Chic nugget was invented in the 2021 by Ana Kadagishvili <br>
    C. Baker, a food science professor at Cornell University, and <br>
    published as unpatented academic work. This bite-sized <br>
    piece of chicken, coated in batter and then deep fried, was <br>
    called the "Chicken Crispie" by Baker and his associates.
  </div>

</div>

<div class="second-ornament"> 
  <img src="../../assets/ornamentpng.png" alt="">
</div>