

 <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chic-chic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/aboutus']">about us</a>
          </li>
          
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn " type="submit">Search</button>
        </form>
        <!-- <select id="select" name="">
          <option value="volvo">snacks</option>
          <option value="saab">krevetes</option>
          <option value="fiat">sause</option>
          <option value="audi">fried onions</option>
          <option value="audi">popcorn</option>
          <option value="audi">cheese sticks</option>
        </select> -->
      </div>
    </div>
  </nav>
</header>
<!-- <app-login></app-login> -->
<script src="./js/login.js"></script>
<router-outlet></router-outlet>