<!-- <p>snacks works!</p> -->

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    sauces
     
     <span >
       <select id="select" name="">
           <option value="volvo">BBQ</option>
           <option value="fiat">cheese</option>
           <option value="audi">chilli</option>
           <option value="audi">sweet and Spicy</option>
          
         </select>
     </span>
   </li>
   
    <li class="list-group-item d-flex justify-content-between align-items-center">
     krevetes
      
        <span >
            <select id="select" name="">
                <option value="volvo">0</option>
                <option value="fiat">6</option>
                <option value="audi">9</option>
                <option value="audi">12</option>
               
              </select>
          </span>
     </li>

    <li class="list-group-item d-flex justify-content-between align-items-center">
     fried 0nions
      
      <span >
        <select id="select" name="">
            <option value="volvo">0</option>
            <option value="fiat">6</option>
            <option value="audi">9</option>
            <option value="audi">12</option>
           
          </select>
      </span>
      
    </li>
    
    <li class="list-group-item d-flex justify-content-between align-items-center">
     fried mushrooms
     
      <span >
        <select id="select" name="">
            <option value="volvo">0</option>
            <option value="fiat">6</option>
            <option value="audi">9</option>
            <option value="audi">12</option>
           
          </select>
      </span>
    </li>
    
      <li class="list-group-item d-flex justify-content-between align-items-center">
       cheese sticks
        
        <span >
          <select id="select" name="">
              <option value="volvo">0</option>
              <option value="fiat">6</option>
              <option value="audi">9</option>
              <option value="audi">12</option>
             
            </select>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        nuggets popcorn
        
         <span >
           <select id="select" name="">
               <option value="volvo">0</option>
               <option value="fiat">6</option>
               <option value="audi">9</option>
               <option value="audi">12</option>
              
             </select>
         </span>
       </li>
    
  </ul>