<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chic-chic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/aboutus']">about us</a>
          </li>



        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn " type="submit">Search</button>

        </form>

        
        <a [routerLink]="['/carticon']">
          <div class="iconnumber">
            <p>{{cartNum}}</p>
          </div>
          <img class="carticon" src="../../assets/carticon1.png" alt="">
        </a>
     

      </div>
    </div>
  </nav>
</header>



<main>

  <app-slider></app-slider> 
 


  <div class="first-ornament"> 
    <img src="../../assets/ornamentpng.png" alt="">
  </div>



  <div class="container marketing">


    <div class="row">
      <div class="col-lg-4">



        <div class="ring">

          <img class="rounded" src="../assets/Daco_4230995.png" alt="">
        </div>

        <h2>Chicken nuggets</h2>
        <p>Crispy chicken breast </p>
        <p><a class="btn2 " [routerLink]="['/viewnuggets']">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">

        <div class="ring">
          <img class="burger" src="../assets/Chicken-Nuggets-Burger.png" alt="">
        </div>
        <h2>Chicken burgers</h2>
        <p>Crispy chicken burgers </p>
        <p><a class="btn2 " [routerLink]="['/viewburgers']">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">

        <div class="ring">
          <img class="rounded" src="../assets/klipartz.com.png" alt="">
        </div>
        <h2>New Products</h2>
        <p>Crispy chicken wings with chilli souce </p>
        <p><a class="btn2 " [routerLink]="['/viewnewproducts']">View details &raquo;</a></p>
      </div>
    </div>




    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our bestselers<span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">See our most in-demand product here
        </p>
      </div>
      <div class="col-md-5">
        <img class="offered" src="../assets/bestdeler.jpg" alt="">
        <p><a class="btn2 " [routerLink]="['/bestselers']">View details &raquo;</a></p>
      </div>
    </div> 

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">snacks.<span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Here is everyone's favorite crunchy page, you can choose by quantity, also here are sauces to taste.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="offered" src="../assets/onion.jpg" alt="">
        <p><a class="btn2 " [routerLink]="['/snacks']">View details &raquo;</a></p>
      </div>
    </div>
    <!-- <app-snacks></app-snacks> -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">family box. <span class="text-muted">Everyone is satisfied</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
          intended to be actually read, simply here to give you a better view of what this would look like with some
          actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img class="offered" src="../assets/familybox.jpg" alt="">
        <p><a class="btn2 " [routerLink]="['/familybox']">View details &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider">



  </div>



  


  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <aside id="custom_html-2" class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <img src="../../assets/footer-chic.png"> <br><br>
              <!-- Chic-Chic is place where you can be happy. -->
            </div>
          </aside>
        </div>
        <div class="col-lg-3">
          <aside id="nav_menu-2" class="widget widget_nav_menu">
            <h3 class="widget-title">CHIC-CHIC PRODUCTS</h3>
            <div class="menu-product-catalog-container">
              <ul id="menu-product-catalog" class="menu">
                <li id="menu-item-156993"
                  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-156993"><a
                    href="">Products &amp; Menu </a></li>
                <li id="menu-item-156992"
                  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-156992"><a
                    href="">Function</a></li>
                <li id="menu-item-156994"
                  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-156994"><a
                    href="">kitchen</a></li>
                <li id="menu-item-156991"
                  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-156991"><a
                    href="">ditribution</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-lg-3">
          <aside id="nav_menu-3" class="widget widget_nav_menu">
            <h3 class="widget-title">ABOUT</h3>
            <div class="menu-menu-about-container">
              <ul id="menu-menu-about" class="menu">
                <li id="menu-item-159388"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159388"><a
                    href="">Company</a></li>
                <li id="menu-item-158945"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158945"><a
                    href="">Pricing</a></li>
                <li id="menu-item-157000"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157000"><a
                    href="">Contact Us</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-lg-3">
          <aside id="nav_menu-4" class="widget widget_nav_menu">
            <h3 class="widget-title">SUPPORT</h3>
            <div class="menu-support-container">
              <ul id="menu-support" class="menu">
                <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a
                    href="">Help Center</a></li>
                <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388"><a
                    href="">Terms of Service</a></li>
                <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a
                    href="">Privacy Policy</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



<router-outlet></router-outlet>